
#BannerContainer {
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BANNER STYLE */

#BannerText {
    color: var(--banner-text-color); 
    font-size: 40px;
    text-align: center;

    background-clip: text;

    animation: pulse 2s ease-in-out infinite;
    user-select: none;
}

/* BANNER ANIMATION */

@keyframes pulse {
    0%, 100% {
        text-shadow: 
            0 0 10px var(--text-shadow-color-1),
            0 0 20px var(--text-shadow-color-1),
            0 0 40px var(--text-shadow-color-1);
        transform: scale(1);
    }
    50% {
        text-shadow: 
            0 0 10px var(--text-shadow-color-2),
            0 0 20px var(--text-shadow-color-2),
            0 0 40px var(--text-shadow-color-2);
        transform: scale(1.01);
    }
}